<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blank_sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{481,84},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_page_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{278,258},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_page_next_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{189,988},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_page_prev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{427,377},{58,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_page_prev_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{189,1054},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{1,844},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{1,921},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{1,998},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{255,1038},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_allin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,142}</string>
                <key>spriteSourceSize</key>
                <string>{182,142}</string>
                <key>textureRect</key>
                <string>{{337,592},{182,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{168,1415},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bg_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,87}</string>
                <key>spriteSourceSize</key>
                <string>{220,87}</string>
                <key>textureRect</key>
                <string>{{338,322},{220,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_caidat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{189,1120},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_caidat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{436,1628},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{179,1342},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_check_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{1,1075},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_check_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{255,1115},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_check_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{1,1152},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_check_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{1,1229},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_check_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{253,1192},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_check_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{251,1269},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choingay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{443,1038},{38,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_choingay2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,83}</string>
                <key>spriteSourceSize</key>
                <string>{263,83}</string>
                <key>textureRect</key>
                <string>{{1,377},{263,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_choingay3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,81}</string>
                <key>textureRect</key>
                <string>{{1,1380},{165,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,91}</string>
                <key>textureRect</key>
                <string>{{221,1489},{50,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,73}</string>
                <key>spriteSourceSize</key>
                <string>{121,73}</string>
                <key>textureRect</key>
                <string>{{334,963},{121,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{455,1},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dismiss_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{455,44},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{416,1376},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,90}</string>
                <key>textureRect</key>
                <string>{{337,544},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_edit_avt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{438,316},{59,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_fb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,72}</string>
                <key>spriteSourceSize</key>
                <string>{254,72}</string>
                <key>textureRect</key>
                <string>{{1,701},{254,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{291,1429},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hotline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{55,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,87}</string>
                <key>textureRect</key>
                <string>{{278,340},{55,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hotro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,91}</string>
                <key>textureRect</key>
                <string>{{168,1489},{51,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,55}</string>
                <key>spriteSourceSize</key>
                <string>{24,55}</string>
                <key>textureRect</key>
                <string>{{455,84},{24,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ingame_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,34}</string>
                <key>spriteSourceSize</key>
                <string>{69,34}</string>
                <key>textureRect</key>
                <string>{{179,1306},{69,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{334,776},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{342,1429},{68,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_kick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{189,1184},{67,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_kiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,89}</string>
                <key>spriteSourceSize</key>
                <string>{452,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{452,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_kiz_title2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,69}</string>
                <key>spriteSourceSize</key>
                <string>{247,69}</string>
                <key>textureRect</key>
                <string>{{266,391},{247,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_kiz_title3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,67}</string>
                <key>spriteSourceSize</key>
                <string>{198,67}</string>
                <key>textureRect</key>
                <string>{{1,775},{198,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_like_fb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,117}</string>
                <key>spriteSourceSize</key>
                <string>{275,117}</string>
                <key>textureRect</key>
                <string>{{1,258},{275,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_livechat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,89}</string>
                <key>textureRect</key>
                <string>{{189,1253},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,75}</string>
                <key>spriteSourceSize</key>
                <string>{254,75}</string>
                <key>textureRect</key>
                <string>{{1,547},{254,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lsgd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{269,1653},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,119}</string>
                <key>spriteSourceSize</key>
                <string>{82,119}</string>
                <key>textureRect</key>
                <string>{{57,1546},{82,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_muiten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,64}</string>
                <key>spriteSourceSize</key>
                <string>{47,64}</string>
                <key>textureRect</key>
                <string>{{438,250},{47,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_naptien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{334,1522},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ngchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{415,1449},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ngoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{225,1544},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,54}</string>
                <key>textureRect</key>
                <string>{{201,775},{164,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,54}</string>
                <key>textureRect</key>
                <string>{{1,1546},{164,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_out_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{441,141},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,119}</string>
                <key>spriteSourceSize</key>
                <string>{82,119}</string>
                <key>textureRect</key>
                <string>{{141,1546},{82,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_reg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,75}</string>
                <key>spriteSourceSize</key>
                <string>{254,75}</string>
                <key>textureRect</key>
                <string>{{1,624},{254,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_reload.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{441,1199},{45,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ruttien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{427,459},{58,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_smart_otp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,53}</string>
                <key>spriteSourceSize</key>
                <string>{122,53}</string>
                <key>textureRect</key>
                <string>{{334,908},{122,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{443,1078},{48,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{439,1336},{38,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tab_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,75}</string>
                <key>spriteSourceSize</key>
                <string>{197,75}</string>
                <key>textureRect</key>
                <string>{{257,640},{197,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tab_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,75}</string>
                <key>spriteSourceSize</key>
                <string>{197,75}</string>
                <key>textureRect</key>
                <string>{{257,839},{197,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_taoban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,39}</string>
                <key>spriteSourceSize</key>
                <string>{69,39}</string>
                <key>textureRect</key>
                <string>{{443,1128},{69,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_taoban2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,83}</string>
                <key>spriteSourceSize</key>
                <string>{263,83}</string>
                <key>textureRect</key>
                <string>{{1,462},{263,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_taoban3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,81}</string>
                <key>textureRect</key>
                <string>{{249,1346},{165,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{427,530},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_trove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,65}</string>
                <key>spriteSourceSize</key>
                <string>{47,65}</string>
                <key>textureRect</key>
                <string>{{438,183},{47,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_vaoban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,45}</string>
                <key>spriteSourceSize</key>
                <string>{66,45}</string>
                <key>textureRect</key>
                <string>{{189,941},{66,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_vaoban2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,81}</string>
                <key>spriteSourceSize</key>
                <string>{165,81}</string>
                <key>textureRect</key>
                <string>{{1,1463},{165,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xephang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{47,53}</string>
                <key>spriteSourceSize</key>
                <string>{47,91}</string>
                <key>textureRect</key>
                <string>{{242,1429},{47,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,45}</string>
                <key>spriteSourceSize</key>
                <string>{32,45}</string>
                <key>textureRect</key>
                <string>{{389,544},{32,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_ig_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,86}</string>
                <key>spriteSourceSize</key>
                <string>{335,86}</string>
                <key>textureRect</key>
                <string>{{1,170},{335,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_kiz_shape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,76}</string>
                <key>spriteSourceSize</key>
                <string>{438,76}</string>
                <key>textureRect</key>
                <string>{{1,92},{438,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_emo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{57,1667},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_emo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{163,1667},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{330,1653},{104,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat_text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,48}</string>
                <key>spriteSourceSize</key>
                <string>{104,48}</string>
                <key>textureRect</key>
                <string>{{436,1522},{104,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f5_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{273,1484},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fb_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{441,1246},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kieunap_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,98}</string>
                <key>textureRect</key>
                <string>{{338,170},{150,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tele_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{439,1291},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118.5,33.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{240,70}</string>
                <key>textureRect</key>
                <string>{{481,84},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_captcha_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,72}</string>
                <key>spriteSourceSize</key>
                <string>{176,72}</string>
                <key>textureRect</key>
                <string>{{1,1306},{176,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{486,1716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e1d70842a66a90647150c4b2cc1d18d:f851578cc49cd3b96cd58fb9b96de790:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
