<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>background_header_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1178,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1178,69}</string>
   </dict>
   <key>btn_forgot_password_header.png</key>
   <dict>
    <key>frame</key>
    <string>{{564,71},{185,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{185,70}</string>
   </dict>
   <key>btn_login_header.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,71},{280,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,63}</string>
   </dict>
   <key>btn_register_header.png</key>
   <dict>
    <key>frame</key>
    <string>{{282,71},{280,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{280,63}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
       <key>size</key>
    <string>{1180,143}</string>
   <key>textureFileName</key>
   <string>header_login.png</string>
  </dict>
 </dict>
</plist>
