<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>banner0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{266,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{266,420}</string>
   </dict>
   <key>doctin_bg1.png</key>
   <dict>
    <key>frame</key>
    <string>{{788,129},{111,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{111,99}</string>
   </dict>
   <key>doctin_bg2.png</key>
   <dict>
    <key>frame</key>
    <string>{{660,422},{111,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{111,99}</string>
   </dict>
   <key>doctin_bg3.png</key>
   <dict>
    <key>frame</key>
    <string>{{773,477},{62,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,59}</string>
   </dict>
   <key>doctin_bg4.png</key>
   <dict>
    <key>frame</key>
    <string>{{837,477},{62,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{62,59}</string>
   </dict>
   <key>icon_vang.png</key>
   <dict>
    <key>frame</key>
    <string>{{918,0},{68,89}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{68,89}</string>
   </dict>
   <key>icon_vang_small.png</key>
   <dict>
    <key>frame</key>
    <string>{{901,211},{55,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{55,72}</string>
   </dict>
   <key>lb_banner_frame.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,0},{266,420}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{266,420}</string>
   </dict>
   <key>lb_download_circle.png</key>
   <dict>
    <key>frame</key>
    <string>{{788,0},{128,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{128,127}</string>
   </dict>
   <key>lb_floating_text_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,540},{564,51}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{564,51}</string>
   </dict>
   <key>lb_icon_rank_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{901,285},{57,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,65}</string>
   </dict>
   <key>lb_icon_rank_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{901,352},{54,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{54,62}</string>
   </dict>
   <key>lb_icon_rank_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{901,477},{52,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{52,59}</string>
   </dict>
   <key>lb_invite_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,310},{256,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{256,70}</string>
   </dict>
   <key>lb_khung_ten.png</key>
   <dict>
    <key>frame</key>
    <string>{{773,422},{201,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{201,53}</string>
   </dict>
   <key>lb_loading_spin_logo.png</key>
   <dict>
    <key>frame</key>
    <string>{{794,310},{102,105}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{102,105}</string>
   </dict>
   <key>lb_loading_spin_logo2.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,382},{34,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{34,35}</string>
   </dict>
   <key>lb_logo.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,0},{250,248}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{250,248}</string>
   </dict>
   <key>lb_logo_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,250},{357,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{357,58}</string>
   </dict>
   <key>lb_logo_autopay.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,422},{380,240}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{380,240}</string>
   </dict>
   <key>lb_logo_header.png</key>
   <dict>
    <key>frame</key>
    <string>{{901,129},{83,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{83,80}</string>
   </dict>
   <key>lb_mail_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{649,593},{201,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{201,53}</string>
   </dict>
   <key>lb_money_icon.png</key>
   <dict>
    <key>frame</key>
    <string>{{958,211},{27,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{27,50}</string>
   </dict>
   <key>lb_table_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,664},{951,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{951,64}</string>
   </dict>
   <key>lb_table_bg_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,422},{276,116}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{276,116}</string>
   </dict>
   <key>lb_table_line.png</key>
   <dict>
    <key>frame</key>
    <string>{{988,0},{3,551}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{3,551}</string>
   </dict>
   <key>lb_table_title_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{852,593},{56,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{56,50}</string>
   </dict>
   <key>lb_thanh_bar.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,593},{265,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,40}</string>
   </dict>
   <key>notifi.png</key>
   <dict>
    <key>frame</key>
    <string>{{910,593},{39,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{39,39}</string>
   </dict>
   <key>setting_line.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,730},{551,3}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{551,3}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
    <key>size</key>
    <string>{996,735}</string>
   <key>textureFileName</key>
   <string>lobby.png</string>
  </dict>
 </dict>
</plist>
