<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{457,482},{56,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{199,1412},{56,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,92}</string>
                <key>spriteSourceSize</key>
                <string>{140,92}</string>
                <key>textureRect</key>
                <string>{{96,1147},{140,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-bet-won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,93}</string>
                <key>spriteSourceSize</key>
                <string>{160,93}</string>
                <key>textureRect</key>
                <string>{{1,1108},{160,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1105,157}</string>
                <key>spriteSourceSize</key>
                <string>{1105,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{1105,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-freespin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,49}</string>
                <key>spriteSourceSize</key>
                <string>{272,49}</string>
                <key>textureRect</key>
                <string>{{457,1},{272,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,98}</string>
                <key>spriteSourceSize</key>
                <string>{708,98}</string>
                <key>textureRect</key>
                <string>{{160,1},{708,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,576}</string>
                <key>spriteSourceSize</key>
                <string>{195,576}</string>
                <key>textureRect</key>
                <string>{{260,1},{195,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-lines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,75}</string>
                <key>spriteSourceSize</key>
                <string>{130,75}</string>
                <key>textureRect</key>
                <string>{{260,579},{130,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,80}</string>
                <key>spriteSourceSize</key>
                <string>{375,80}</string>
                <key>textureRect</key>
                <string>{{357,579},{375,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,434}</string>
                <key>spriteSourceSize</key>
                <string>{195,434}</string>
                <key>textureRect</key>
                <string>{{160,711},{195,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-auto-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{258,1237},{128,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-auto-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{290,1237},{128,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-auto-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{322,1237},{128,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-auto-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{354,1208},{128,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-back-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{439,579},{162,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-back-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{439,743},{162,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-back-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{199,1241},{162,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-close-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,48}</string>
                <key>spriteSourceSize</key>
                <string>{205,48}</string>
                <key>textureRect</key>
                <string>{{457,275},{205,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-close-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,48}</string>
                <key>spriteSourceSize</key>
                <string>{205,48}</string>
                <key>textureRect</key>
                <string>{{357,956},{205,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-close-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,48}</string>
                <key>spriteSourceSize</key>
                <string>{205,48}</string>
                <key>textureRect</key>
                <string>{{407,956},{205,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-minus-bottom-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{96,1108},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-bottom-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{128,1108},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-bottom-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{457,540},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-bottom-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{431,1318},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{463,1318},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{364,1362},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{396,1353},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{431,1350},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-plus-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{463,1350},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-plus-disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{399,1385},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-plus-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{399,1417},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-plus-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{431,1382},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-prev-next-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{45,56}</string>
                <key>textureRect</key>
                <string>{{439,907},{45,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn-prev-next-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{45,56}</string>
                <key>textureRect</key>
                <string>{{457,1012},{45,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-prev-next-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{45,56}</string>
                <key>textureRect</key>
                <string>{{457,1070},{45,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-setting-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{444,1228},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-setting-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{444,1273},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-setting-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{386,1308},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-spin-trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{3,3}</string>
                <key>textureRect</key>
                <string>{{193,1265},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,198}</string>
                <key>spriteSourceSize</key>
                <string>{196,198}</string>
                <key>textureRect</key>
                <string>{{1,1270},{196,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-trial-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{108,43}</string>
                <key>textureRect</key>
                <string>{{238,1147},{108,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-trial-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{108,43}</string>
                <key>textureRect</key>
                <string>{{238,1192},{108,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-trial-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,43}</string>
                <key>spriteSourceSize</key>
                <string>{108,43}</string>
                <key>textureRect</key>
                <string>{{348,1163},{108,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{458,1128},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{458,1178},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{387,1394},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{364,1394},{16,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{399,1449},{10,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,22}</string>
                <key>spriteSourceSize</key>
                <string>{4,22}</string>
                <key>textureRect</key>
                <string>{{193,1241},{4,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,27}</string>
                <key>spriteSourceSize</key>
                <string>{95,27}</string>
                <key>textureRect</key>
                <string>{{96,1241},{95,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{431,1414},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-sound-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{463,1382},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-sound-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{337,649},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quickspin-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{354,1338},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quickspin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{486,1382},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{249,1412},{56,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>r-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{299,1412},{56,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt-real-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,18}</string>
                <key>spriteSourceSize</key>
                <string>{68,18}</string>
                <key>textureRect</key>
                <string>{{337,579},{68,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt-spin-normal-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,43}</string>
                <key>spriteSourceSize</key>
                <string>{104,43}</string>
                <key>textureRect</key>
                <string>{{258,1367},{104,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt-trial-vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,15}</string>
                <key>spriteSourceSize</key>
                <string>{63,15}</string>
                <key>textureRect</key>
                <string>{{489,1228},{63,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{349,1412},{56,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{386,1208},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{386,1258},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{458,954},{56,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slot_dancing.png</string>
            <key>size</key>
            <string>{507,1469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6458aef84ff4a488a9e5101d566f748:5cca51117f8fbb99ad9d896b83fd98ad:df06ba52e57a53e063fa49d792010131$</string>
            <key>textureFileName</key>
            <string>slot_dancing.png</string>
        </dict>
    </dict>
</plist>
