<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,115}</string>
                <key>spriteSourceSize</key>
                <string>{96,115}</string>
                <key>textureRect</key>
                <string>{{810,269},{96,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,124}</string>
                <key>spriteSourceSize</key>
                <string>{105,124}</string>
                <key>textureRect</key>
                <string>{{908,268},{105,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,125}</string>
                <key>spriteSourceSize</key>
                <string>{105,125}</string>
                <key>textureRect</key>
                <string>{{1015,266},{105,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,126}</string>
                <key>spriteSourceSize</key>
                <string>{106,126}</string>
                <key>textureRect</key>
                <string>{{230,394},{106,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,127}</string>
                <key>spriteSourceSize</key>
                <string>{107,127}</string>
                <key>textureRect</key>
                <string>{{1124,265},{107,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,129}</string>
                <key>spriteSourceSize</key>
                <string>{108,129}</string>
                <key>textureRect</key>
                <string>{{904,137},{108,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,130}</string>
                <key>spriteSourceSize</key>
                <string>{109,130}</string>
                <key>textureRect</key>
                <string>{{571,139},{109,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,130}</string>
                <key>spriteSourceSize</key>
                <string>{109,130}</string>
                <key>textureRect</key>
                <string>{{682,137},{109,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,131}</string>
                <key>spriteSourceSize</key>
                <string>{109,131}</string>
                <key>textureRect</key>
                <string>{{1133,1},{109,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,132}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{909,1},{110,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,134}</string>
                <key>textureRect</key>
                <string>{{459,139},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{96,116}</string>
                <key>textureRect</key>
                <string>{{231,279},{96,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,134}</string>
                <key>textureRect</key>
                <string>{{573,1},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,136}</string>
                <key>spriteSourceSize</key>
                <string>{112,136}</string>
                <key>textureRect</key>
                <string>{{345,140},{112,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,137}</string>
                <key>spriteSourceSize</key>
                <string>{112,137}</string>
                <key>textureRect</key>
                <string>{{231,1},{112,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,137}</string>
                <key>spriteSourceSize</key>
                <string>{112,137}</string>
                <key>textureRect</key>
                <string>{{116,283},{112,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,139}</string>
                <key>spriteSourceSize</key>
                <string>{113,139}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,139}</string>
                <key>spriteSourceSize</key>
                <string>{113,139}</string>
                <key>textureRect</key>
                <string>{{1,142},{113,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,139}</string>
                <key>spriteSourceSize</key>
                <string>{113,139}</string>
                <key>textureRect</key>
                <string>{{116,1},{113,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,139}</string>
                <key>spriteSourceSize</key>
                <string>{113,139}</string>
                <key>textureRect</key>
                <string>{{1,283},{113,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,139}</string>
                <key>spriteSourceSize</key>
                <string>{113,139}</string>
                <key>textureRect</key>
                <string>{{116,142},{113,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,137}</string>
                <key>spriteSourceSize</key>
                <string>{112,137}</string>
                <key>textureRect</key>
                <string>{{231,140},{112,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,117}</string>
                <key>spriteSourceSize</key>
                <string>{98,117}</string>
                <key>textureRect</key>
                <string>{{349,278},{98,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,137}</string>
                <key>spriteSourceSize</key>
                <string>{112,137}</string>
                <key>textureRect</key>
                <string>{{345,1},{112,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,136}</string>
                <key>spriteSourceSize</key>
                <string>{112,136}</string>
                <key>textureRect</key>
                <string>{{459,1},{112,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,134}</string>
                <key>textureRect</key>
                <string>{{685,1},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,134}</string>
                <key>textureRect</key>
                <string>{{797,1},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,132}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{1021,1},{110,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,131}</string>
                <key>spriteSourceSize</key>
                <string>{109,131}</string>
                <key>textureRect</key>
                <string>{{1244,1},{109,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,130}</string>
                <key>spriteSourceSize</key>
                <string>{109,130}</string>
                <key>textureRect</key>
                <string>{{793,137},{109,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,129}</string>
                <key>spriteSourceSize</key>
                <string>{108,129}</string>
                <key>textureRect</key>
                <string>{{1014,135},{108,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,128}</string>
                <key>spriteSourceSize</key>
                <string>{107,128}</string>
                <key>textureRect</key>
                <string>{{1124,135},{107,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,126}</string>
                <key>spriteSourceSize</key>
                <string>{107,126}</string>
                <key>textureRect</key>
                <string>{{682,269},{107,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,119}</string>
                <key>spriteSourceSize</key>
                <string>{98,119}</string>
                <key>textureRect</key>
                <string>{{461,402},{98,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,125}</string>
                <key>spriteSourceSize</key>
                <string>{105,125}</string>
                <key>textureRect</key>
                <string>{{468,275},{105,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,124}</string>
                <key>spriteSourceSize</key>
                <string>{105,124}</string>
                <key>textureRect</key>
                <string>{{575,271},{105,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,123}</string>
                <key>spriteSourceSize</key>
                <string>{103,123}</string>
                <key>textureRect</key>
                <string>{{1355,126},{103,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,122}</string>
                <key>spriteSourceSize</key>
                <string>{103,122}</string>
                <key>textureRect</key>
                <string>{{1355,375},{103,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,121}</string>
                <key>spriteSourceSize</key>
                <string>{101,121}</string>
                <key>textureRect</key>
                <string>{{582,397},{101,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,121}</string>
                <key>spriteSourceSize</key>
                <string>{101,121}</string>
                <key>textureRect</key>
                <string>{{705,378},{101,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{1233,337},{100,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,119}</string>
                <key>spriteSourceSize</key>
                <string>{98,119}</string>
                <key>textureRect</key>
                <string>{{808,394},{98,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,117}</string>
                <key>spriteSourceSize</key>
                <string>{98,117}</string>
                <key>textureRect</key>
                <string>{{929,394},{98,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{96,116}</string>
                <key>textureRect</key>
                <string>{{1048,394},{96,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,120}</string>
                <key>spriteSourceSize</key>
                <string>{99,120}</string>
                <key>textureRect</key>
                <string>{{1233,236},{99,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,115}</string>
                <key>spriteSourceSize</key>
                <string>{96,115}</string>
                <key>textureRect</key>
                <string>{{810,269},{96,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{1233,134},{100,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,121}</string>
                <key>spriteSourceSize</key>
                <string>{101,121}</string>
                <key>textureRect</key>
                <string>{{358,378},{101,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,122}</string>
                <key>spriteSourceSize</key>
                <string>{103,122}</string>
                <key>textureRect</key>
                <string>{{1355,251},{103,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,123}</string>
                <key>spriteSourceSize</key>
                <string>{103,123}</string>
                <key>textureRect</key>
                <string>{{1355,1},{103,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon6.png</string>
            <key>size</key>
            <string>{1459,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40ed8b5375b8dae684312ef46b250115:875bee46a322ab86751a1f75cc97afe8:e5932ebf6999d185204f7e2bd36a4a08$</string>
            <key>textureFileName</key>
            <string>icon6.png</string>
        </dict>
    </dict>
</plist>
