<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{1,1689},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{269,1267},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,420}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_100_bg_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,38}</string>
                <key>spriteSourceSize</key>
                <string>{142,38}</string>
                <key>textureRect</key>
                <string>{{848,249},{142,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_100_tai_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{88,75}</string>
                <key>spriteSourceSize</key>
                <string>{148,135}</string>
                <key>textureRect</key>
                <string>{{888,249},{88,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_100_tai_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{138,125}</string>
                <key>spriteSourceSize</key>
                <string>{148,135}</string>
                <key>textureRect</key>
                <string>{{805,122},{138,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_100_xiu_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{98,69}</string>
                <key>spriteSourceSize</key>
                <string>{148,135}</string>
                <key>textureRect</key>
                <string>{{863,1762},{98,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_100_xiu_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{146,119}</string>
                <key>spriteSourceSize</key>
                <string>{148,135}</string>
                <key>textureRect</key>
                <string>{{805,1},{146,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{269,1267},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{537,843},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{774,843},{235,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,420}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{1,423},{266,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,420}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{269,1},{266,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,420}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{1,845},{266,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{537,1051},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{774,1080},{235,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{269,1475},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{537,1259},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,420}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{269,423},{266,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{774,1317},{235,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_coming_soon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{743,1762},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,41}</string>
                <key>spriteSourceSize</key>
                <string>{145,41}</string>
                <key>textureRect</key>
                <string>{{805,249},{145,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_slot_199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{506,1467},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_199_jackpot_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,101.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{506,1267},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{743,1554},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_202_jackpot_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,101.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{506,1267},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,420}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{537,1},{266,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_204_jackpot_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131.5,208.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{506,1267},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,420}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{1,1267},{266,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_205_jackpot_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131.5,208.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{506,1267},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{506,1675},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,420}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{269,845},{266,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_217_jackpot_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131.5,208.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{506,1267},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,418}</string>
                <key>spriteSourceSize</key>
                <string>{265,418}</string>
                <key>textureRect</key>
                <string>{{537,423},{265,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_218_jackpot_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131.5,208.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{266,420}</string>
                <key>textureRect</key>
                <string>{{506,1267},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,206}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{269,1683},{235,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_slot_219_jackpot_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,101.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{235,206}</string>
                <key>textureRect</key>
                <string>{{506,1267},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_icon_199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{888,339},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_icon_202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{863,1833},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_icon_204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{805,396},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_icon_205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{804,456},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_icon_206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{804,516},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_icon_217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{804,576},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_icon_218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{804,636},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tophu_icon_219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{804,696},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>logos.png</string>
            <key>size</key>
            <string>{981,1896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a2453aa2c90c449e85cd865c021ddc4:ee2df3d0a6b318b315a55d3c896e1a09:31db1315fe35e6806594c8944a0b38e9$</string>
            <key>textureFileName</key>
            <string>logos.png</string>
        </dict>
    </dict>
</plist>
