<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>icon_300.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,0},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>icon_302.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,208},{235,206}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{235,206}</string>
   </dict>
   <key>icon_400.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{265,418}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{265,418}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>size</key>
    <string>{504,420}</string>
   <key>textureFileName</key>
   <string>logo_creator.png</string>
  </dict>
 </dict>
</plist>
