<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{98,126}</string>
                <key>textureRect</key>
                <string>{{1212,261},{98,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,130}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{809,134},{100,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{100,131}</string>
                <key>textureRect</key>
                <string>{{707,134},{100,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{100,131}</string>
                <key>textureRect</key>
                <string>{{709,1},{100,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,131}</string>
                <key>spriteSourceSize</key>
                <string>{101,131}</string>
                <key>textureRect</key>
                <string>{{401,403},{101,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,131}</string>
                <key>spriteSourceSize</key>
                <string>{101,131}</string>
                <key>textureRect</key>
                <string>{{534,403},{101,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,131}</string>
                <key>spriteSourceSize</key>
                <string>{102,131}</string>
                <key>textureRect</key>
                <string>{{1,406},{102,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,131}</string>
                <key>spriteSourceSize</key>
                <string>{102,131}</string>
                <key>textureRect</key>
                <string>{{134,406},{102,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{101,1},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{101,135},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{199,269},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,127}</string>
                <key>spriteSourceSize</key>
                <string>{98,127}</string>
                <key>textureRect</key>
                <string>{{1212,132},{98,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,132}</string>
                <key>spriteSourceSize</key>
                <string>{100,132}</string>
                <key>textureRect</key>
                <string>{{204,1},{100,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,132}</string>
                <key>spriteSourceSize</key>
                <string>{99,132}</string>
                <key>textureRect</key>
                <string>{{306,1},{99,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,132}</string>
                <key>spriteSourceSize</key>
                <string>{99,132}</string>
                <key>textureRect</key>
                <string>{{306,135},{99,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,133}</string>
                <key>spriteSourceSize</key>
                <string>{98,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,133}</string>
                <key>spriteSourceSize</key>
                <string>{97,133}</string>
                <key>textureRect</key>
                <string>{{1,271},{97,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,132}</string>
                <key>spriteSourceSize</key>
                <string>{97,132}</string>
                <key>textureRect</key>
                <string>{{407,135},{97,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,132}</string>
                <key>spriteSourceSize</key>
                <string>{96,132}</string>
                <key>textureRect</key>
                <string>{{506,135},{96,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,132}</string>
                <key>spriteSourceSize</key>
                <string>{96,132}</string>
                <key>textureRect</key>
                <string>{{508,1},{96,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,132}</string>
                <key>spriteSourceSize</key>
                <string>{97,132}</string>
                <key>textureRect</key>
                <string>{{505,269},{97,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,133}</string>
                <key>spriteSourceSize</key>
                <string>{97,133}</string>
                <key>textureRect</key>
                <string>{{100,271},{97,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,128}</string>
                <key>spriteSourceSize</key>
                <string>{99,128}</string>
                <key>textureRect</key>
                <string>{{1065,397},{99,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,133}</string>
                <key>spriteSourceSize</key>
                <string>{98,133}</string>
                <key>textureRect</key>
                <string>{{1,136},{98,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,132}</string>
                <key>spriteSourceSize</key>
                <string>{99,132}</string>
                <key>textureRect</key>
                <string>{{404,269},{99,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,132}</string>
                <key>spriteSourceSize</key>
                <string>{99,132}</string>
                <key>textureRect</key>
                <string>{{407,1},{99,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,132}</string>
                <key>spriteSourceSize</key>
                <string>{100,132}</string>
                <key>textureRect</key>
                <string>{{204,135},{100,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,132}</string>
                <key>spriteSourceSize</key>
                <string>{100,132}</string>
                <key>textureRect</key>
                <string>{{302,269},{100,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{267,403},{101,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,131}</string>
                <key>spriteSourceSize</key>
                <string>{101,131}</string>
                <key>textureRect</key>
                <string>{{604,135},{101,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,131}</string>
                <key>spriteSourceSize</key>
                <string>{101,131}</string>
                <key>textureRect</key>
                <string>{{606,1},{101,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,131}</string>
                <key>spriteSourceSize</key>
                <string>{101,131}</string>
                <key>textureRect</key>
                <string>{{604,268},{101,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,131}</string>
                <key>spriteSourceSize</key>
                <string>{101,131}</string>
                <key>textureRect</key>
                <string>{{667,401},{101,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,128}</string>
                <key>spriteSourceSize</key>
                <string>{98,128}</string>
                <key>textureRect</key>
                <string>{{1112,263},{98,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{100,131}</string>
                <key>textureRect</key>
                <string>{{707,267},{100,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{100,131}</string>
                <key>textureRect</key>
                <string>{{800,400},{100,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,130}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{811,1},{100,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,130}</string>
                <key>spriteSourceSize</key>
                <string>{99,130}</string>
                <key>textureRect</key>
                <string>{{913,1},{99,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,130}</string>
                <key>spriteSourceSize</key>
                <string>{99,130}</string>
                <key>textureRect</key>
                <string>{{933,398},{99,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,130}</string>
                <key>spriteSourceSize</key>
                <string>{99,130}</string>
                <key>textureRect</key>
                <string>{{1011,265},{99,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,129}</string>
                <key>spriteSourceSize</key>
                <string>{98,129}</string>
                <key>textureRect</key>
                <string>{{1112,132},{98,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,129}</string>
                <key>spriteSourceSize</key>
                <string>{98,129}</string>
                <key>textureRect</key>
                <string>{{1114,1},{98,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,128}</string>
                <key>spriteSourceSize</key>
                <string>{98,128}</string>
                <key>textureRect</key>
                <string>{{1195,393},{98,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,127}</string>
                <key>spriteSourceSize</key>
                <string>{98,127}</string>
                <key>textureRect</key>
                <string>{{1214,1},{98,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,129}</string>
                <key>spriteSourceSize</key>
                <string>{98,129}</string>
                <key>textureRect</key>
                <string>{{1012,133},{98,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{98,126}</string>
                <key>textureRect</key>
                <string>{{1212,261},{98,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,129}</string>
                <key>spriteSourceSize</key>
                <string>{98,129}</string>
                <key>textureRect</key>
                <string>{{1014,1},{98,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,130}</string>
                <key>spriteSourceSize</key>
                <string>{99,130}</string>
                <key>textureRect</key>
                <string>{{809,266},{99,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,130}</string>
                <key>spriteSourceSize</key>
                <string>{99,130}</string>
                <key>textureRect</key>
                <string>{{910,266},{99,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,130}</string>
                <key>spriteSourceSize</key>
                <string>{99,130}</string>
                <key>textureRect</key>
                <string>{{911,133},{99,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon10.png</string>
            <key>size</key>
            <string>{1324,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63623f823d90147b3a6f865ce67e4690:0fda302059d849b64b8dcf499c09bd59:cedf4e08e77b553fc3bdebc8401c77f3$</string>
            <key>textureFileName</key>
            <string>icon10.png</string>
        </dict>
    </dict>
</plist>
