<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonPurple2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{680,121},{78,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,85}</string>
                <key>spriteSourceSize</key>
                <string>{204,85}</string>
                <key>textureRect</key>
                <string>{{302,50},{204,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,86}</string>
                <key>spriteSourceSize</key>
                <string>{202,86}</string>
                <key>textureRect</key>
                <string>{{765,44},{202,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RoundRectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,55}</string>
                <key>spriteSourceSize</key>
                <string>{150,55}</string>
                <key>textureRect</key>
                <string>{{1250,111},{150,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundRectangle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,55}</string>
                <key>spriteSourceSize</key>
                <string>{120,55}</string>
                <key>textureRect</key>
                <string>{{1250,168},{120,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundRectangle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,60}</string>
                <key>spriteSourceSize</key>
                <string>{417,60}</string>
                <key>textureRect</key>
                <string>{{876,1},{417,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundRectangle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,60}</string>
                <key>spriteSourceSize</key>
                <string>{250,60}</string>
                <key>textureRect</key>
                <string>{{853,149},{250,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowPurple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,14}</string>
                <key>spriteSourceSize</key>
                <string>{21,14}</string>
                <key>textureRect</key>
                <string>{{419,97},{21,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrowWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,11}</string>
                <key>spriteSourceSize</key>
                <string>{17,11}</string>
                <key>textureRect</key>
                <string>{{853,44},{17,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,41}</string>
                <key>spriteSourceSize</key>
                <string>{435,41}</string>
                <key>textureRect</key>
                <string>{{439,1},{435,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,48}</string>
                <key>spriteSourceSize</key>
                <string>{371,48}</string>
                <key>textureRect</key>
                <string>{{389,202},{371,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{1250,96},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,84}</string>
                <key>spriteSourceSize</key>
                <string>{256,84}</string>
                <key>textureRect</key>
                <string>{{853,63},{256,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{1250,63},{31,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonYellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,137}</string>
                <key>spriteSourceSize</key>
                <string>{139,137}</string>
                <key>textureRect</key>
                <string>{{1111,63},{139,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>calendar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,54}</string>
                <key>spriteSourceSize</key>
                <string>{69,54}</string>
                <key>textureRect</key>
                <string>{{1461,173},{69,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{1295,1},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconQuestion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{389,97},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,47}</string>
                <key>spriteSourceSize</key>
                <string>{436,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{436,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>large-tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,79}</string>
                <key>spriteSourceSize</key>
                <string>{289,79}</string>
                <key>textureRect</key>
                <string>{{389,121},{289,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redDot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{389,50},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small-tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,60}</string>
                <key>spriteSourceSize</key>
                <string>{137,60}</string>
                <key>textureRect</key>
                <string>{{1402,111},{137,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,75}</string>
                <key>spriteSourceSize</key>
                <string>{324,75}</string>
                <key>textureRect</key>
                <string>{{439,44},{324,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,90}</string>
                <key>spriteSourceSize</key>
                <string>{299,90}</string>
                <key>textureRect</key>
                <string>{{1,50},{299,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,90}</string>
                <key>spriteSourceSize</key>
                <string>{299,90}</string>
                <key>textureRect</key>
                <string>{{1,142},{299,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{87,70}</string>
                <key>textureRect</key>
                <string>{{1372,173},{87,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lode.png</string>
            <key>size</key>
            <string>{1540,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:322feb9ffc66f98760a399c8b373519e:d9abcac9e1b7c542bd1c483fc0cefcd0:22a13f4615f661d67eb368a4eec2976b$</string>
            <key>textureFileName</key>
            <string>lode.png</string>
        </dict>
    </dict>
</plist>
