<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,101}</string>
                <key>spriteSourceSize</key>
                <string>{136,101}</string>
                <key>textureRect</key>
                <string>{{850,1},{136,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,102}</string>
                <key>spriteSourceSize</key>
                <string>{139,102}</string>
                <key>textureRect</key>
                <string>{{707,319},{139,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,103}</string>
                <key>spriteSourceSize</key>
                <string>{139,103}</string>
                <key>textureRect</key>
                <string>{{1,633},{139,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,103}</string>
                <key>textureRect</key>
                <string>{{1,106},{140,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,103}</string>
                <key>textureRect</key>
                <string>{{143,1},{140,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,103}</string>
                <key>textureRect</key>
                <string>{{1,211},{140,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,103}</string>
                <key>textureRect</key>
                <string>{{143,106},{140,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,103}</string>
                <key>textureRect</key>
                <string>{{285,1},{140,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,103}</string>
                <key>textureRect</key>
                <string>{{1,316},{140,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,103}</string>
                <key>spriteSourceSize</key>
                <string>{139,103}</string>
                <key>textureRect</key>
                <string>{{285,106},{139,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,101}</string>
                <key>spriteSourceSize</key>
                <string>{137,101}</string>
                <key>textureRect</key>
                <string>{{848,422},{137,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,103}</string>
                <key>spriteSourceSize</key>
                <string>{139,103}</string>
                <key>textureRect</key>
                <string>{{427,1},{139,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,103}</string>
                <key>spriteSourceSize</key>
                <string>{139,103}</string>
                <key>textureRect</key>
                <string>{{426,106},{139,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,103}</string>
                <key>spriteSourceSize</key>
                <string>{139,103}</string>
                <key>textureRect</key>
                <string>{{568,1},{139,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{143,211},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{1,421},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{1,527},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{284,211},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{425,211},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{567,106},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{709,1},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,101}</string>
                <key>spriteSourceSize</key>
                <string>{138,101}</string>
                <key>textureRect</key>
                <string>{{848,319},{138,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{142,421},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{142,527},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{283,421},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{283,527},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{424,421},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{424,527},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{566,212},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{708,107},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{707,213},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{565,422},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{138,102}</string>
                <key>textureRect</key>
                <string>{{705,529},{138,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,104}</string>
                <key>textureRect</key>
                <string>{{848,213},{138,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,104}</string>
                <key>spriteSourceSize</key>
                <string>{139,104}</string>
                <key>textureRect</key>
                <string>{{706,423},{139,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,103}</string>
                <key>spriteSourceSize</key>
                <string>{139,103}</string>
                <key>textureRect</key>
                <string>{{142,633},{139,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{283,633},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{423,633},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{563,633},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{565,528},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,102}</string>
                <key>spriteSourceSize</key>
                <string>{137,102}</string>
                <key>textureRect</key>
                <string>{{849,107},{137,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,101}</string>
                <key>spriteSourceSize</key>
                <string>{137,101}</string>
                <key>textureRect</key>
                <string>{{847,525},{137,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,101}</string>
                <key>spriteSourceSize</key>
                <string>{137,101}</string>
                <key>textureRect</key>
                <string>{{845,628},{137,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{138,102}</string>
                <key>textureRect</key>
                <string>{{703,633},{138,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,101}</string>
                <key>spriteSourceSize</key>
                <string>{136,101}</string>
                <key>textureRect</key>
                <string>{{850,1},{136,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,102}</string>
                <key>spriteSourceSize</key>
                <string>{139,102}</string>
                <key>textureRect</key>
                <string>{{143,317},{139,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,102}</string>
                <key>spriteSourceSize</key>
                <string>{139,102}</string>
                <key>textureRect</key>
                <string>{{284,317},{139,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,102}</string>
                <key>spriteSourceSize</key>
                <string>{139,102}</string>
                <key>textureRect</key>
                <string>{{425,317},{139,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,102}</string>
                <key>spriteSourceSize</key>
                <string>{139,102}</string>
                <key>textureRect</key>
                <string>{{566,318},{139,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon5.png</string>
            <key>size</key>
            <string>{987,737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0937ae2763ac0bf90e1dd970afb61c79:350abf139a0e5dedd38c2fa85c237409:4db4ec491bd169db0cd1d7bafcef860a$</string>
            <key>textureFileName</key>
            <string>icon5.png</string>
        </dict>
    </dict>
</plist>
