<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,132}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{412,387},{134,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,133}</string>
                <key>spriteSourceSize</key>
                <string>{134,133}</string>
                <key>textureRect</key>
                <string>{{412,521},{134,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{686,526},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,134}</string>
                <key>spriteSourceSize</key>
                <string>{133,134}</string>
                <key>textureRect</key>
                <string>{{1,652},{133,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,135}</string>
                <key>spriteSourceSize</key>
                <string>{132,135}</string>
                <key>textureRect</key>
                <string>{{822,393},{132,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,135}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{685,259},{131,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,135}</string>
                <key>spriteSourceSize</key>
                <string>{130,135}</string>
                <key>textureRect</key>
                <string>{{138,253},{130,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,135}</string>
                <key>spriteSourceSize</key>
                <string>{130,135}</string>
                <key>textureRect</key>
                <string>{{275,254},{130,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,136}</string>
                <key>spriteSourceSize</key>
                <string>{131,136}</string>
                <key>textureRect</key>
                <string>{{822,260},{131,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,136}</string>
                <key>spriteSourceSize</key>
                <string>{132,136}</string>
                <key>textureRect</key>
                <string>{{1,518},{132,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,122}</string>
                <key>spriteSourceSize</key>
                <string>{134,122}</string>
                <key>textureRect</key>
                <string>{{137,1},{134,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,136}</string>
                <key>spriteSourceSize</key>
                <string>{132,136}</string>
                <key>textureRect</key>
                <string>{{548,525},{132,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,137}</string>
                <key>spriteSourceSize</key>
                <string>{133,137}</string>
                <key>textureRect</key>
                <string>{{273,653},{133,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,137}</string>
                <key>spriteSourceSize</key>
                <string>{134,137}</string>
                <key>textureRect</key>
                <string>{{686,661},{134,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{1,787},{135,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{140,788},{135,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{279,791},{135,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{418,794},{135,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{557,797},{135,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{696,797},{135,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,137}</string>
                <key>spriteSourceSize</key>
                <string>{135,137}</string>
                <key>textureRect</key>
                <string>{{835,797},{135,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,123}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{409,1},{134,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,137}</string>
                <key>spriteSourceSize</key>
                <string>{134,137}</string>
                <key>textureRect</key>
                <string>{{825,661},{134,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,137}</string>
                <key>spriteSourceSize</key>
                <string>{133,137}</string>
                <key>textureRect</key>
                <string>{{547,659},{133,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,136}</string>
                <key>spriteSourceSize</key>
                <string>{132,136}</string>
                <key>textureRect</key>
                <string>{{821,527},{132,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,136}</string>
                <key>spriteSourceSize</key>
                <string>{131,136}</string>
                <key>textureRect</key>
                <string>{{1,385},{131,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,136}</string>
                <key>spriteSourceSize</key>
                <string>{131,136}</string>
                <key>textureRect</key>
                <string>{{548,392},{131,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,135}</string>
                <key>spriteSourceSize</key>
                <string>{130,135}</string>
                <key>textureRect</key>
                <string>{{412,255},{130,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,135}</string>
                <key>spriteSourceSize</key>
                <string>{131,135}</string>
                <key>textureRect</key>
                <string>{{275,386},{131,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,135}</string>
                <key>spriteSourceSize</key>
                <string>{132,135}</string>
                <key>textureRect</key>
                <string>{{275,519},{132,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{139,518},{132,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,134}</string>
                <key>spriteSourceSize</key>
                <string>{133,134}</string>
                <key>textureRect</key>
                <string>{{137,652},{133,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,125}</string>
                <key>spriteSourceSize</key>
                <string>{135,125}</string>
                <key>textureRect</key>
                <string>{{681,1},{135,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{412,656},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,132}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{686,392},{134,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,131}</string>
                <key>spriteSourceSize</key>
                <string>{134,131}</string>
                <key>textureRect</key>
                <string>{{139,385},{134,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{1,253},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,129}</string>
                <key>textureRect</key>
                <string>{{686,128},{135,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,127}</string>
                <key>spriteSourceSize</key>
                <string>{135,127}</string>
                <key>textureRect</key>
                <string>{{412,126},{135,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,126}</string>
                <key>spriteSourceSize</key>
                <string>{135,126}</string>
                <key>textureRect</key>
                <string>{{275,126},{135,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,125}</string>
                <key>spriteSourceSize</key>
                <string>{135,125}</string>
                <key>textureRect</key>
                <string>{{818,1},{135,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,123}</string>
                <key>spriteSourceSize</key>
                <string>{134,123}</string>
                <key>textureRect</key>
                <string>{{545,1},{134,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,122}</string>
                <key>spriteSourceSize</key>
                <string>{134,122}</string>
                <key>textureRect</key>
                <string>{{273,1},{134,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,126}</string>
                <key>spriteSourceSize</key>
                <string>{135,126}</string>
                <key>textureRect</key>
                <string>{{1,125},{135,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,126}</string>
                <key>spriteSourceSize</key>
                <string>{135,126}</string>
                <key>textureRect</key>
                <string>{{138,125},{135,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,129}</string>
                <key>textureRect</key>
                <string>{{549,128},{135,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{823,128},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,131}</string>
                <key>spriteSourceSize</key>
                <string>{134,131}</string>
                <key>textureRect</key>
                <string>{{549,259},{134,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon8.png</string>
            <key>size</key>
            <string>{973,933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9d81c22b91e63317d7a0d9df1685169:b034fec4e0738c6edb56dfaa9fc7a151:88b820d6413c2d16112920694746f89a$</string>
            <key>textureFileName</key>
            <string>icon8.png</string>
        </dict>
    </dict>
</plist>
