<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dancer-1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,0}</string>
                <key>spriteSize</key>
                <string>{100,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1829,1},{100,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,0}</string>
                <key>spriteSize</key>
                <string>{100,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1871,417},{100,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{146,412}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{2077,577},{146,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer-1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{160,412}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{2077,415},{160,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer-1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{168,412}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1663,833},{168,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer-1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{174,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{833,833},{174,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer-1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,0}</string>
                <key>spriteSize</key>
                <string>{104,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1555,417},{104,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,0}</string>
                <key>spriteSize</key>
                <string>{108,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1399,1},{108,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,0}</string>
                <key>spriteSize</key>
                <string>{108,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1445,417},{108,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,0}</string>
                <key>spriteSize</key>
                <string>{110,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1175,1},{110,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{102,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1725,1},{102,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{104,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1619,1},{104,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{110,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1221,417},{110,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{120,412}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{2361,1},{120,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{180,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{743,1},{180,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{182,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{559,1},{182,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{182,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{559,417},{182,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{178,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{743,417},{178,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{174,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{923,417},{174,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{170,412}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1249,833},{170,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer-2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{184,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{184,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1,417},{184,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{184,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1,833},{184,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer-2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{184,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{187,1},{184,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{184,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{187,417},{184,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{184,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{373,1},{184,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{184,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{373,417},{184,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-2-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{184,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{417,833},{184,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer-3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{166,412}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{2033,1},{166,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{158,412}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{2201,1},{158,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{120,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1099,417},{120,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,0}</string>
                <key>spriteSize</key>
                <string>{110,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1333,417},{110,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,0}</string>
                <key>spriteSize</key>
                <string>{102,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1767,417},{102,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,0}</string>
                <key>spriteSize</key>
                <string>{100,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1931,1},{100,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{142,412}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{2077,725},{142,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer-3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{118,412}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{2077,869},{118,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dancer-3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{108,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1509,1},{108,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{104,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1661,417},{104,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{96,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1973,417},{96,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,0}</string>
                <key>spriteSize</key>
                <string>{110,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1287,1},{110,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,0}</string>
                <key>spriteSize</key>
                <string>{122,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{1051,1},{122,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dancer-3-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,0}</string>
                <key>spriteSize</key>
                <string>{124,414}</string>
                <key>spriteSourceSize</key>
                <string>{210,420}</string>
                <key>textureRect</key>
                <string>{{925,1},{124,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dancer.png</string>
            <key>size</key>
            <string>{2490,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12792f5a97a5590e88af75bc2ed88a2f:fcc1c47c8c4fbb99c73b0021abe41448:c83efc84473b3c268be78f7ea95c0f39$</string>
            <key>textureFileName</key>
            <string>dancer.png</string>
        </dict>
    </dict>
</plist>
