<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Layer 121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,96}</string>
                <key>spriteSourceSize</key>
                <string>{364,96}</string>
                <key>textureRect</key>
                <string>{{1,1243},{364,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1022,87}</string>
                <key>spriteSourceSize</key>
                <string>{1022,87}</string>
                <key>textureRect</key>
                <string>{{818,1},{1022,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer 45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,86}</string>
                <key>spriteSourceSize</key>
                <string>{202,86}</string>
                <key>textureRect</key>
                <string>{{498,1193},{202,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,586}</string>
                <key>spriteSourceSize</key>
                <string>{68,586}</string>
                <key>textureRect</key>
                <string>{{1,1123},{68,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PopUpBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{1120,815}</string>
                <key>spriteSourceSize</key>
                <string>{1120,817}</string>
                <key>textureRect</key>
                <string>{{1,1},{1120,815}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SidePopUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{818,1025},{85,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,41}</string>
                <key>spriteSourceSize</key>
                <string>{435,41}</string>
                <key>textureRect</key>
                <string>{{1,1341},{435,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,41}</string>
                <key>spriteSourceSize</key>
                <string>{435,41}</string>
                <key>textureRect</key>
                <string>{{1,1384},{435,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,48}</string>
                <key>spriteSourceSize</key>
                <string>{495,48}</string>
                <key>textureRect</key>
                <string>{{1,1193},{495,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,72}</string>
                <key>spriteSourceSize</key>
                <string>{110,72}</string>
                <key>textureRect</key>
                <string>{{586,1233},{110,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{709,1356},{31,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,108}</string>
                <key>spriteSourceSize</key>
                <string>{230,108}</string>
                <key>textureRect</key>
                <string>{{589,1123},{230,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,57}</string>
                <key>textureRect</key>
                <string>{{438,1335},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,31}</string>
                <key>spriteSourceSize</key>
                <string>{132,31}</string>
                <key>textureRect</key>
                <string>{{744,1233},{132,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orange border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,81}</string>
                <key>spriteSourceSize</key>
                <string>{187,81}</string>
                <key>textureRect</key>
                <string>{{821,1112},{187,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag1_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,44}</string>
                <key>spriteSourceSize</key>
                <string>{121,44}</string>
                <key>textureRect</key>
                <string>{{698,1233},{121,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tag1_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,44}</string>
                <key>spriteSourceSize</key>
                <string>{121,44}</string>
                <key>textureRect</key>
                <string>{{586,1356},{121,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag2_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,44}</string>
                <key>spriteSourceSize</key>
                <string>{121,44}</string>
                <key>textureRect</key>
                <string>{{741,1367},{121,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag2_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,44}</string>
                <key>spriteSourceSize</key>
                <string>{121,44}</string>
                <key>textureRect</key>
                <string>{{777,1301},{121,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag3_at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,44}</string>
                <key>spriteSourceSize</key>
                <string>{121,44}</string>
                <key>textureRect</key>
                <string>{{367,1243},{121,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tag3_iat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,44}</string>
                <key>spriteSourceSize</key>
                <string>{121,44}</string>
                <key>textureRect</key>
                <string>{{367,1289},{121,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popup_jackpot.png</string>
            <key>size</key>
            <string>{906,1426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6173e2527712e663b2a52a5a9ac6a8ce:5b56ac0f0bacef8e6694af6fad81a40a:6eccd56f53fb46c558ed5e51b100a821$</string>
            <key>textureFileName</key>
            <string>popup_jackpot.png</string>
        </dict>
    </dict>
</plist>
