<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{706,516},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,109}</string>
                <key>spriteSourceSize</key>
                <string>{139,109}</string>
                <key>textureRect</key>
                <string>{{422,402},{139,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,108}</string>
                <key>textureRect</key>
                <string>{{141,395},{138,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,106}</string>
                <key>textureRect</key>
                <string>{{839,296},{138,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,105}</string>
                <key>spriteSourceSize</key>
                <string>{138,105}</string>
                <key>textureRect</key>
                <string>{{559,295},{138,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{279,290},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,102}</string>
                <key>spriteSourceSize</key>
                <string>{137,102}</string>
                <key>textureRect</key>
                <string>{{831,192},{137,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,101}</string>
                <key>spriteSourceSize</key>
                <string>{137,101}</string>
                <key>textureRect</key>
                <string>{{692,192},{137,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,99}</string>
                <key>spriteSourceSize</key>
                <string>{136,99}</string>
                <key>textureRect</key>
                <string>{{415,189},{136,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,97}</string>
                <key>spriteSourceSize</key>
                <string>{136,97}</string>
                <key>textureRect</key>
                <string>{{139,188},{136,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,96}</string>
                <key>spriteSourceSize</key>
                <string>{135,96}</string>
                <key>textureRect</key>
                <string>{{815,94},{135,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{847,516},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{134,93}</string>
                <key>textureRect</key>
                <string>{{271,93},{134,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{134,93}</string>
                <key>textureRect</key>
                <string>{{407,93},{134,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,92}</string>
                <key>spriteSourceSize</key>
                <string>{133,92}</string>
                <key>textureRect</key>
                <string>{{1,93},{133,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,91}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{673,1},{133,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,90}</string>
                <key>spriteSourceSize</key>
                <string>{133,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{136,1},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{270,1},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{404,1},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,90}</string>
                <key>spriteSourceSize</key>
                <string>{133,90}</string>
                <key>textureRect</key>
                <string>{{538,1},{133,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,91}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{808,1},{133,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{1,618},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,92}</string>
                <key>spriteSourceSize</key>
                <string>{133,92}</string>
                <key>textureRect</key>
                <string>{{136,93},{133,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{134,93}</string>
                <key>textureRect</key>
                <string>{{543,94},{134,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,94}</string>
                <key>spriteSourceSize</key>
                <string>{134,94}</string>
                <key>textureRect</key>
                <string>{{679,94},{134,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,96}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{1,187},{136,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,98}</string>
                <key>spriteSourceSize</key>
                <string>{136,98}</string>
                <key>textureRect</key>
                <string>{{277,188},{136,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,99}</string>
                <key>spriteSourceSize</key>
                <string>{137,99}</string>
                <key>textureRect</key>
                <string>{{553,190},{137,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,102}</string>
                <key>spriteSourceSize</key>
                <string>{137,102}</string>
                <key>textureRect</key>
                <string>{{1,287},{137,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,102}</string>
                <key>spriteSourceSize</key>
                <string>{137,102}</string>
                <key>textureRect</key>
                <string>{{140,288},{137,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,104}</string>
                <key>textureRect</key>
                <string>{{419,291},{138,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,105}</string>
                <key>spriteSourceSize</key>
                <string>{138,105}</string>
                <key>textureRect</key>
                <string>{{699,296},{138,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{142,620},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,107}</string>
                <key>spriteSourceSize</key>
                <string>{138,107}</string>
                <key>textureRect</key>
                <string>{{1,392},{138,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,108}</string>
                <key>spriteSourceSize</key>
                <string>{139,108}</string>
                <key>textureRect</key>
                <string>{{281,397},{139,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,109}</string>
                <key>spriteSourceSize</key>
                <string>{139,109}</string>
                <key>textureRect</key>
                <string>{{563,403},{139,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,110}</string>
                <key>spriteSourceSize</key>
                <string>{139,110}</string>
                <key>textureRect</key>
                <string>{{845,404},{139,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{424,514},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{565,516},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{424,627},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{565,629},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{706,630},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{847,630},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{283,626},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{706,516},{139,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{1,505},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{142,507},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,111}</string>
                <key>spriteSourceSize</key>
                <string>{139,111}</string>
                <key>textureRect</key>
                <string>{{283,513},{139,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,110}</string>
                <key>spriteSourceSize</key>
                <string>{139,110}</string>
                <key>textureRect</key>
                <string>{{704,404},{139,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon7.png</string>
            <key>size</key>
            <string>{987,743}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:599dcfaaf7cbae7a23c472bb4746e2bc:45e2595fdd66487e887ab9f3b854c658:416bd9000ae435c4663424993a8931a6$</string>
            <key>textureFileName</key>
            <string>icon7.png</string>
        </dict>
    </dict>
</plist>
